// Login.scss
.log-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    padding-top: 70px;
   
    h2 {
      text-align: center;
    }
  
   .log-form {
      display: flex;
      flex-direction: column;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
      padding: 20px 30px;
      border: 1px solid black;
      border-radius: 5px;
  
      label {
        margin-top: 10px;
        font-size: 1.2em;
       
      }
  
      input {
        margin-bottom: 15px;
        padding: 8px;
        font-size: 1em;
        border: 1px solid black;
        border-radius: 10px;
      }
  
      button {
        padding: 10px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
  
        &:hover {
          background-color: #0056b3;
        }
      }
  
      h4 {
        // margin-top: 15px;
        font-size: 15px;
      }
  
      a {
        text-decoration: none;
        button {
          // margin-top: 10px;
          padding: 10px;
          background-color: #28a745;
          color: #fff;
          border: none;
          border-radius: 4px;
          cursor: pointer;
  
          &:hover {
            background-color: #218838;
          }
        }
      }
    }
  }
  