//!------------------ Customer DashBoard--------------------
.customer-dashboard {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  padding-top: 70px;
}

.dashboard-heading {
  font-size: 1.8em;
  margin-bottom: 20px;
}

.dashboard-button {
  display: block;
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;
  background-color: #007bff;
  color: #fff;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.terms-and-conditions {
  margin-top: 20px;
}

.terms-heading {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.terms-text {
  font-size: 1em;
  line-height: 1.6;
  color: #555;
}

//! ----------------Loan Request----------------------------
// ReqLoan.scss
// ReqLoan.scss
.loan-container {
  height: 100vh;
  display: flex;
  flex-direction: row;
  // padding-top: 70px;
  justify-content: center;
  align-items: center;

  .loan-form,
  .payments-container {
    // max-width: 70%;
    border: 1px solid #fff;
    padding: 20px;
    background-color: #cad8db;
    border-radius: 10px;
    margin: 20px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

    h2 {
      font-size: 24px;
      margin-bottom: 15px;
      color: #333;
    }

    label {
      display: block;
      margin-bottom: 10px;
      text-align: center;
      color: #333;
    }

    input {
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 10px;
      margin-bottom: 15px;
      width: 100%;
      box-sizing: border-box;
    }

    button {
      background-color: #e91e63;
      color: #fff;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #c2185b;
      }
    }

    .installments-list {
      height: 250px;
      
      // overflow: hidden;
      overflow-y: scroll;

      ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          border: 1px solid #ccc;
          padding: 10px;
          margin-bottom: 10px;
          border-radius: 5px;
        }
      }
    }

    p {
      color: #333;
    }

    .apply-btn {
      cursor: pointer;
      // width: 40%;
      // height: 40px;
      margin: 12px;
      background-color: #1e9fe9;
      color: #fff;
      border: none;
      border-radius: 10px;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #1845c2;
      }
    }
  }
}

//!----------------ALL Loans ----------------

.view-loan-container {
  max-width: 90%;
  margin: auto;
  padding: 20px;
  padding-top: 70px;
}

.view-loan-heading {
  font-size: 1.8em;
  margin-bottom: 20px;
}

.view-loan-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  overflow-x: scroll;
}

.view-loan-table th,
.view-loan-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.view-loan-table th {
  background-color: #f2f2f2;
}

//!----------------Old Loans ----------------
.payloan
{
  padding-top: 70px;
}